<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoRa Testbed</title>
    <link rel="icon" href="{{ url_for('static', filename='img/ico/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3"></script>

    <!-- Socket.IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>

    {% block head %}{% endblock %}
</head>
<body>
    <nav class="topbar">
        <span class="brand">LoRa Testbed</span>
        <a href="/map"  class="nav-link {% block nav_map %}{% endblock %}">🗺 Map</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
